@{

    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html>
<head>
    <title>Créditos e Referências</title>
</head>
<body>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=2yEiwjUEZ78">Método utilizado para Password hashing</a>
        </li>
    </ul>
</body>
</html>