
@{
    ViewData["Title"] = "Oops! Ocorreu um erro.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div style=" padding:20px;">
        <h2>
            Ocorreu um erro, pedimos desculpa.
        </h2>
        <h6>@Html.ActionLink("Voltar á página principal", "Index", "Home")</h6>
        <br />
        <br />
    </div>
</div>  