@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Acesso Negado</h1>
Acesso Negado

<a asp-action="Index" asp-controller="Home">Voltar a pagina Inicial</a>