USE [master]
GO
/****** Object:  Database [ICT]    Script Date: 20/05/2022 12:45:56 ******/
CREATE DATABASE [ICT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ICT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ICT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ICT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ICT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ICT]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[Id] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Description] [varchar](64) NOT NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] NOT NULL,
	[Id_Building] [int] NOT NULL,
	[Id_Type] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Floor] [varchar](32) NOT NULL,
	[NumFireballs] [int] NOT NULL,
	[NumSpringles] [int] NOT NULL,
	[NumBocasSingulares] [int] NOT NULL,
	[NumBocasSiameses] [int] NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaTypes]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaTypes](
	[Id] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Description] [varchar](64) NOT NULL,
 CONSTRAINT [PK_AreaTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buildings]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buildings](
	[Id] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Address] [varchar](32) NOT NULL,
	[Type] [varchar](32) NOT NULL,
 CONSTRAINT [PK_Buildings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceRequestedReads]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceRequestedReads](
	[Id] [int] NOT NULL,
	[Id_Device] [uniqueidentifier] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[ResponseDate] [datetime] NULL,
	[ResponseStatus] [varchar](50) NULL,
	[ResponseBody] [varchar](500) NULL,
 CONSTRAINT [PK_DeviceRequestedReads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [uniqueidentifier] NOT NULL,
	[Id_Area] [int] NULL,
	[Id_DeviceType] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Description] [varchar](64) NOT NULL,
	[ManufacturedDate] [datetime] NOT NULL,
	[LastManteinanceDate] [datetime] NULL,
	[ManteinanceDueDate] [datetime] NULL,
	[ManufacturedBy] [varchar](50) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceSubmittedActions]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceSubmittedActions](
	[Id] [int] NOT NULL,
	[Id_Action] [int] NOT NULL,
	[Id_Device] [uniqueidentifier] NOT NULL,
	[RequestDate] [datetime] NOT NULL,
	[ResponseDate] [datetime] NULL,
	[ResponseStatus] [varchar](50) NULL,
 CONSTRAINT [PK_ControllerSubmittedActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeviceTypes]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeviceTypes](
	[Id] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Description] [varchar](64) NOT NULL,
 CONSTRAINT [PK_DeviceTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Extinguishers]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Extinguishers](
	[Id] [uniqueidentifier] NOT NULL,
	[Id_Area] [int] NULL,
	[Type] [varchar](64) NOT NULL,
	[Description] [varchar](64) NOT NULL,
	[ManufacturedDate] [datetime] NOT NULL,
	[LastManteinanceDate] [datetime] NULL,
	[ManteinanceDueDate] [datetime] NULL,
 CONSTRAINT [PK_Extintores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FireHoseReels]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FireHoseReels](
	[Id] [uniqueidentifier] NOT NULL,
	[Id_Area] [int] NULL,
	[Type] [varchar](64) NOT NULL,
	[Description] [varchar](64) NOT NULL,
	[ManufacturedDate] [datetime] NOT NULL,
	[LastManteinanceDate] [datetime] NULL,
	[ManteinanceDueDate] [datetime] NULL,
 CONSTRAINT [PK_Carteis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDevices]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDevices](
	[Id_Report] [int] NOT NULL,
	[Id_Device] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ReportDevices_1] PRIMARY KEY CLUSTERED 
(
	[Id_Report] ASC,
	[Id_Device] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedBy] [varchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_Reports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScenarioDevices]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScenarioDevices](
	[Id_Scenario] [int] NOT NULL,
	[Id_Device] [uniqueidentifier] NOT NULL,
	[ManufacturedDate] [datetime] NOT NULL,
	[LastManteinanceDate] [datetime] NULL,
	[ManteinanceDueDate] [datetime] NULL,
	[OriginalState] [varchar](50) NULL,
	[CurrentState] [varchar](50) NULL,
 CONSTRAINT [PK_ScenarioDevices] PRIMARY KEY CLUSTERED 
(
	[Id_Scenario] ASC,
	[Id_Device] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scenarios]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scenarios](
	[Id] [int] NOT NULL,
	[Name] [varchar](32) NOT NULL,
	[Description] [varchar](64) NOT NULL,
	[TestedBy] [varchar](50) NOT NULL,
	[LastTestedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Scenarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SurroundingAreas]    Script Date: 20/05/2022 12:45:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SurroundingAreas](
	[Id] [int] NOT NULL,
	[Id_Area] [int] NOT NULL,
 CONSTRAINT [PK_SurroundingAreas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Id_Area] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_AreaTypes] FOREIGN KEY([Id_Type])
REFERENCES [dbo].[AreaTypes] ([Id])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_AreaTypes]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_Areas_Buildings] FOREIGN KEY([Id_Building])
REFERENCES [dbo].[Buildings] ([Id])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_Areas_Buildings]
GO
ALTER TABLE [dbo].[DeviceRequestedReads]  WITH CHECK ADD  CONSTRAINT [FK_DeviceRequestedReads_Devices] FOREIGN KEY([Id_Device])
REFERENCES [dbo].[Devices] ([Id])
GO
ALTER TABLE [dbo].[DeviceRequestedReads] CHECK CONSTRAINT [FK_DeviceRequestedReads_Devices]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_Areas] FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_Areas]
GO
ALTER TABLE [dbo].[Devices]  WITH CHECK ADD  CONSTRAINT [FK_Devices_DeviceTypes] FOREIGN KEY([Id_DeviceType])
REFERENCES [dbo].[DeviceTypes] ([Id])
GO
ALTER TABLE [dbo].[Devices] CHECK CONSTRAINT [FK_Devices_DeviceTypes]
GO
ALTER TABLE [dbo].[DeviceSubmittedActions]  WITH CHECK ADD  CONSTRAINT [FK_DeviceSubmittedActions_Actions] FOREIGN KEY([Id_Action])
REFERENCES [dbo].[Actions] ([Id])
GO
ALTER TABLE [dbo].[DeviceSubmittedActions] CHECK CONSTRAINT [FK_DeviceSubmittedActions_Actions]
GO
ALTER TABLE [dbo].[DeviceSubmittedActions]  WITH CHECK ADD  CONSTRAINT [FK_DeviceSubmittedActions_Devices] FOREIGN KEY([Id_Device])
REFERENCES [dbo].[Devices] ([Id])
GO
ALTER TABLE [dbo].[DeviceSubmittedActions] CHECK CONSTRAINT [FK_DeviceSubmittedActions_Devices]
GO
ALTER TABLE [dbo].[Extinguishers]  WITH CHECK ADD  CONSTRAINT [FK_Extinguishers_Areas] FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[Extinguishers] CHECK CONSTRAINT [FK_Extinguishers_Areas]
GO
ALTER TABLE [dbo].[FireHoseReels]  WITH CHECK ADD  CONSTRAINT [FK_FireHoseReels_Areas] FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[FireHoseReels] CHECK CONSTRAINT [FK_FireHoseReels_Areas]
GO
ALTER TABLE [dbo].[ReportDevices]  WITH CHECK ADD  CONSTRAINT [FK_ReportDevices_Devices] FOREIGN KEY([Id_Device])
REFERENCES [dbo].[Devices] ([Id])
GO
ALTER TABLE [dbo].[ReportDevices] CHECK CONSTRAINT [FK_ReportDevices_Devices]
GO
ALTER TABLE [dbo].[ReportDevices]  WITH CHECK ADD  CONSTRAINT [FK_ReportDevices_Reports] FOREIGN KEY([Id_Report])
REFERENCES [dbo].[Reports] ([Id])
GO
ALTER TABLE [dbo].[ReportDevices] CHECK CONSTRAINT [FK_ReportDevices_Reports]
GO
ALTER TABLE [dbo].[ScenarioDevices]  WITH CHECK ADD  CONSTRAINT [FK_ScenarioDevices_Devices] FOREIGN KEY([Id_Device])
REFERENCES [dbo].[Devices] ([Id])
GO
ALTER TABLE [dbo].[ScenarioDevices] CHECK CONSTRAINT [FK_ScenarioDevices_Devices]
GO
ALTER TABLE [dbo].[ScenarioDevices]  WITH CHECK ADD  CONSTRAINT [FK_ScenarioDevices_Scenarios] FOREIGN KEY([Id_Scenario])
REFERENCES [dbo].[Scenarios] ([Id])
GO
ALTER TABLE [dbo].[ScenarioDevices] CHECK CONSTRAINT [FK_ScenarioDevices_Scenarios]
GO
ALTER TABLE [dbo].[SurroundingAreas]  WITH CHECK ADD  CONSTRAINT [FK_SurroundingAreas_Areas] FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[SurroundingAreas] CHECK CONSTRAINT [FK_SurroundingAreas_Areas]
GO
ALTER TABLE [dbo].[SurroundingAreas]  WITH CHECK ADD  CONSTRAINT [FK_SurroundingAreas_Areas1] FOREIGN KEY([Id])
REFERENCES [dbo].[Areas] ([Id])
GO
ALTER TABLE [dbo].[SurroundingAreas] CHECK CONSTRAINT [FK_SurroundingAreas_Areas1]
GO
USE [master]
GO
